annotated-types==0.6.0
django-environ==0.11.2
environ==1.0
peewee==3.17.1
psycopg2==2.9.9
pydantic==2.6.4
pydantic-settings==2.2.1
pydantic_core==2.16.3
python-dotenv==1.0.1
typing_extensions==4.10.0
